{% include 'base.html.twig' %}
{% block body %}


    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                <td>{{ product.name }}</td>

                                <td><input disabled class="form-control" type="text" value="1" /></td>
                                <td class="text-right">{{ product.price }}</td>
                                <td class="text-right"><a href="/remove/{{ product.id }}" id="delete-{{ product.id }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </a> </td>
                            </tr>
                            <script>


                                $(document).on('click', 'a#delete-{{ product.id }}', function(){


                                    $.ajax({
                                        url:'/remove/{{ product.id }}',
                                        type: "POST",
                                        dataType: "json",
                                        data: {
                                        },
                                        async: true,
                                        success: function (data)
                                        {
                                            alert("Deleted");
                                            window.location = '/shoppingCart';
                                        }
                                    });
                                    return false;

                                });

                            </script>
                        {% endfor %}


                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">255,90 €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right">6,90 €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>346,90 €</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="phoneNumber">Phone number*</label>
                        <input class="form-control" type="text" name="phoneNumber">
                    </div>
                    <div class="col-md-6">
                        <label for="email">Stay in touch ! Enter your email for more awesome stuff</label>
                        <input class="form-control" type="email" name="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <button class="btn btn-block btn-light">Back</button>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <button class="btn  btn-block btn-success text-uppercase">Send Whatsupp command</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
